<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="demo.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="demo.commands.category"
            id="demo.commands.sampleCommand">
      </command>
      
       <!--批量下载菜单-->
      <command
            name="批量下载"
            categoryId="demo.commands.category"
            id="demo.handlers.DbCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="demo.commands.sampleCommand"
            class="demo.handlers.SampleHandler">
      </handler>
      
      <!--批量下载-->
      <handler
            commandId="demo.handlers.DbCommand"
            class="demo.handlers.DbaHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="demo.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="个性化定制"
               mnemonic="M"
               id="demo.menus.sampleMenu">
            <command
                  commandId="demo.commands.sampleCommand"
                  mnemonic="S"
                  id="demo.menus.sampleCommand">
            </command>
           
            <command
                  commandId="demo.handlers.DbCommand"
                  mnemonic="S"
                  id="demo.menus.DbCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="demo.toolbars.sampleToolbar">
            <command
                  commandId="demo.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="demo.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
